{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
{% if request.user.is_authenticated %}
<h2 class="text-center mt-4" style="text-decoration: underline double;">Customer Relationship Management</h2>
<br>
<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zip Code</th>
      </tr>
    </thead>
    <tbody>
        {% if customers %}
        {% for customer in customers %}
      <tr>
        <th scope="row"><a href="{% url 'main:record' customer.id %}" style="text-decoration: none;">{{customer.id}}</a></th>
        <td><a href="{% url 'main:record' customer.id %}" style="text-decoration: none;">{{customer.first_name}} {{customer.last_name}}</a></td>
        <td>{{customer.address}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.state}}</td>
        <td>{{customer.zipcode}}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
{% else %}
<div class="container"></div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'main:home' %}">
                        {% csrf_token %}
                        <div class="mb-3">

                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                        </div>
                        <div class="mb-3">

                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}