{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
{% if request.user.is_authenticated %}
<h1>Hello Salman</h1>
{% else %}
<div class="container"></div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'main:home' %}">
                        {% csrf_token %}
                        <div class="mb-3">

                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                        </div>
                        <div class="mb-3">

                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}